{{ define "main" }}
<main id="main" class="list">
  <div class="container has-padding">
    <h2>{{ partial "utils/icons" "list-sharp" }}{{ .Title }}</h2>
    <ul class="list">
      {{ $pageSize := site.Params.pageSize.list | default 10 }}
      {{ range (.Paginator $pageSize).Pages }}
      <li class="post">
        <a href="{{ .Permalink}}" class="title">{{ .Title }}</a>
        <time class="date">{{ .PublishDate.Format "2006-01-02" }}</time>

        <div class="post-info">
        {{ with .Params.tags }}
          <ul class="tags">
            <span class="label">{{ partial "utils/icons" "pricetags-sharp" }}</span> 
          {{ range . }}
            <li class="hashed-tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
          </ul>
        {{ end }}
        {{ with .Params.categories }}
          <ul class="tags">
             <span class="label">{{ partial "utils/icons" "shapes" }}</span> 
          {{ range . }}
            <li class="hashed-tag"><a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
          </ul>
        {{ end }}
      </div>


      </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </div>
</main>
{{ end }}
